{
	"useTabs": true,
	"tabWidth": 4,
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	],
	"ignorePatterns": ["node_modules", "dist", "pnpm-lock.yaml"]
}
