{
	"useTabs": true,
	"tabWidth": 4,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["cn", "clsx", "cva", "twMerge"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
